* {
  margin: 0;
}
#all {
  min-width: 300px;
}
#header {
  background: #f36523;
  height: 50px;
  border: none;
  margin: 0 ;
  padding: 0 ;
  width: 100%;
}
p {
  font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
#header_icon {
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  line-height: 40px;
  font-weight: bold;
  font-family: '黑体';
  font-size: 30px;
  color: white;
  border-radius: 20px;
  position: absolute;
}
#menu {
  color: white;
  float: right;
  margin-top: -38px;
  font-size: 25px;
  margin-right: 10px;
}
#bg {
  background-color: #f0efed;
  width: 100%;
  height: 1000px;
}
#name {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.62);
}
#map {
  font-size: 25px;
  color: #f36523;
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.address {
  padding: 0px 20px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.45);
}
#tel {
  padding: 5px 20px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.45);
}
#number {
  color: #42a4ff;
  font-weight: normal;
}
.line {
  margin-top: 10px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.46);
  height: 1px;
  opacity: 0.3;
  margin-left: 2.5%;
}
.shu {
  width: 8px;
  height: 25px;
  background-color: #f36523;
  margin-top: 20px;
  margin-left: 20px;
}
.ziti {
  color: black;
  font-weight: bold;
  font-size: 19px;
  margin-left: 40px;
  margin-top: -26px;
}
.tese {
  margin-top: 10px;
}
.big {
  height: 60px;
}
.fuwu_gb {
  background-color: white;
  height: 60px;
  width: 60px;
  margin-left: 8px;
}
.popcorn {
  width: 25px;
  height: 35px;
  margin-top: 5px;
}
.shop_font {
  color: #f36523;
}
.shop_font_glasses {
  color: #f36523;
  margin-top: 5px;
}
.miaoshu_bg {
  height: 60px;
  width: 70%;
  background-color: white;
  margin-top: -60px;
  margin-left: 95px;
  position: absolute;
  min-width: 40%;
}
.shop {
  width: 100%;
  font-size: 15px;
  padding: 20px 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.46);
}
#fuwu {
  width: 100%;
}
.bus {
  width: 8px;
  height: 60px;
  background-color: #f36523;
  margin-top: -60px;
  float: right;
  margin-right: 80px ;
}
.glasses {
  width: 25px;
  height: 21px;
  margin-top: 12px;
}
.green {
  background-color: #5acb33;
}
.puple {
  background-color: #b56eba;
}
.money {
  width: 40px;
  height: 35px;
  margin-top: 5px;
}
.wala {
  margin-top: 40px;
}
.btn {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  border-radius: 5px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.47);
  border: 1px solid rgba(0, 0, 0, 0.73);
}
.loading {
  margin-top: 8px;
  color: white;
  font-size: 16px;
}
#menu_list {
  background-color: #f36523;
  margin-top: -4px;
  width: 100px;
  z-index: 996;
  float: right;
  visibility: hidden;
}
#menu_list :hover {
  background-color: #ff4f17;
}
.memu_list_font {
  font-size: 14px;
  color: white;
  padding: 10px 10px;
}
.memu_list_font :hover {
  background-color: #ff4f17;
}
.menu_list_icon {
  width: 20px;
  height: 21px;
}
#return_bg {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  margin-top: 60px;
  text-align: center;
}
.return_bg {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
#return_icon {
  width: 30px;
  height: 40px;
  margin-top: 10px;
}
.bottom {
  margin-top: 180px;
}
.last {
  margin-top: 10px;
}
.bottom_icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
