body {
  padding: 0;
  font-size: 12px;
  font-family: "Microsoft YaHei", sans-serif;
  color: black;
  height: 2000px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
input {
  border: none;
  resize: none;
  outline: none;
}
.GW_content {
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
  height: 2000px;
  position: relative;
}
.GW_content .GW_toubu {
  width: 100%;
  height: auto;
  position: relative;
}
.GW_content .GW_toubu .header_tupian {
  width: 100%;
  height: auto;
  position: relative;
}
.GW_content .GW_toubu .header_tupian img {
  height: auto;
  width: 100%;
}
.GW_content .GW_toubu .header_tupian .header_tupian-1 {
  width: auto;
  height: auto;
  float: left;
  position: absolute;
  top: 6%;
}
.GW_content .GW_toubu .header_tupian .header_tupian-1 img {
  height: 35px;
  width: 35px;
}
.GW_content .GW_toubu .header_tupian .header_tupian-2 {
  width: auto;
  height: auto;
  float: right;
  position: absolute;
  right: 0;
  top: 6%;
}
.GW_content .GW_toubu .header_tupian .header_tupian-2 img {
  height: 35px;
  width: 35px;
}
.GW_content .gw_classify-2 {
  width: 100%;
  height: 180px;
  position: relative;
  z-index: 1000;
}
.GW_content .gw_classify-2 .classify {
  width: 40%;
  float: left;
}
.GW_content .gw_classify-2 .classify a {
  display: block;
  width: 100%;
  height: 100%;
}
.GW_content .gw_classify-2 .classify a img {
  width: 200px;
  height: auto;
  margin-top: -43%;
  margin-left: 16%;
  border-radius: 15px;
  border: 5px solid white;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
}
.GW_content .gw_classify-2 .classify-1 {
  width: 60%;
  height: 210px;
  float: left;
  font-size: 20px;
  margin-top: -14%;
  overflow: hidden;
}
.GW_content .gw_classify-2 .classify-1 a {
  display: block;
  width: 100%;
  height: 210px;
  overflow: hidden;
}
.GW_content .gw_classify-2 .classify-1 a ul {
  width: 100%;
  float: left;
}
.GW_content .gw_classify-2 .classify-1 a ul .li1 {
  width: 100%;
  float: left;
  overflow: hidden;
}
.GW_content .gw_classify-2 .classify-1 a ul .li1 img {
  width: 19px;
  height: auto;
}
.GW_content .gw_classify-2 .classify-1 a ul .li1 strong {
  color: black;
}
.GW_content .gw_classify-2 .classify-1 a ul .li1 p {
  color: #8c8c8c;
}
.GW_content .gw_zhedie {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}
.GW_content .gw_zhedie ul {
  list-style-type: none;
  padding-left: 1%;
}
.GW_content .gw_zhedie li {
  width: 100%;
}
.GW_content .gw_zhedie li .main,
.GW_content .gw_zhedie li .intro {
  font-size: 12px;
}
.GW_content .gw_zhedie li .main {
  height: 22px;
  overflow: hidden;
  line-height: 22px;
}
.GW_content .gw_zhedie li p {
  font-size: 14px;
  color: #999999;
}
.GW_content .gw_zhedie li .mainf {
  line-height: 15px;
  font-size: 12px;
  color: #999999;
}
.GW_content .gw_zhedie li .intro {
  padding: 3px 0 0;
  color: #036;
  line-height: 18px;
  border-bottom: 1px dotted #366;
}
.GW_content .gw_zhedie li .key {
  text-align: center;
  margin-top: -20px;
  color: #f36523;
  cursor: pointer;
}
.GW_content .lunbo {
  width: 100%;
  height: auto;
  position: relative;
}
.GW_content .lunbo .box {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.GW_content .lunbo .box .ad {
  width: auto;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.GW_content .lunbo .box .ad ul {
  width: 100%;
  position: absolute;
  top: 0;
  right: 5%;
}
.GW_content .lunbo .box .ad ul li {
  float: left;
  width: 20%;
}
.GW_content .lunbo .box .ad ul li img {
  width: auto;
  height: 100px;
  padding: 5px;
}
.GW_content .lunbo .box .juzhao {
  height: auto;
  width: auto;
  padding: 3px 0 0;
  color: #036;
  line-height: 18px;
  border-bottom: 1px dotted #366;
}
.GW_content .lunbo .box .juzhao .juzhao-1 {
  text-align: center;
  margin-top: -20px;
  color: #f36523;
  cursor: pointer;
  font-size: 14px;
}
.GW_content .pingyu {
  width: 100%;
  height: 150px;
  position: relative;
  border-bottom: 1px dotted #366;
}
.GW_content .pingyu p {
  padding: 10px;
}
.GW_content .pingyu .touxiang {
  float: left;
  margin-left: 15px;
}
.GW_content .pingyu .wengzi {
  float: left;
  width: auto;
  margin-top: 5px;
  margin-left: 5px;
}
.GW_content .pingyu .pingfen {
  position: absolute;
  left: 20px;
  top: 105px;
}
.GW_content .pingyu .pingfen img {
  width: 10px;
  height: auto;
}
.GW_content .pingyu .xinxi {
  position: absolute;
  right: 20px;
  top: 105px;
  font-size: 12px;
  color: #999999;
}
.GW_content .pingyu .xinxi img {
  width: 20px;
  height: auto;
}
.gw_footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-top: 1px solid #e0e0e0;
  background-color: white;
}
.gw_footer table tr td img {
  height: 25px;
  width: 25px;
  margin: 0 auto;
}
.gw_footer table tr td span {
  color: black;
  text-align: center;
}
