* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
input {
  border: none;
  resize: none;
  outline: none;
}
.GW_warp {
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
  height: 2000px;
  padding: 0;
  position: relative;
}
.GW_warp .GW_header {
  width: 100%;
  height: 40px;
  background-color: #f36523;
  position: relative;
}
.GW_warp .GW_header .GW_logo {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}
.GW_warp .GW_header .GW_logo a img {
  height: 30px;
  width: 60px;
}
.GW_warp .GW_header .GW_location {
  float: left;
  margin-left: 5px;
  margin-top: 8px;
}
.GW_warp .GW_header .GW_location a {
  color: white;
}
.GW_warp .GW_header .GW_location a img {
  height: 20px;
  width: 20px;
}
.GW_warp .GW_header .GW_classify {
  float: right;
  padding: 7px;
}
.GW_warp .GW_header .GW_classify img {
  width: 20px;
  height: 20px;
}
.GW_warp .GW_header .GW_classify ul {
  background-color: #f36523;
  min-width: 100px;
  float: left;
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.GW_warp .GW_header .GW_classify ul li {
  float: left;
}
.GW_warp .GW_header .GW_classify ul li a {
  color: white;
}
.GW_warp .qiehuan {
  width: 100%;
  height: 30px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  border-bottom: 3px solid #737373;
}
.GW_warp .qiehuan ul {
  width: 100%;
  height: auto;
  margin-left: 0;
  list-style: none;
}
.GW_warp .qiehuan ul li {
  width: 50%;
  height: 30px;
  float: left;
  text-align: center;
}
.GW_warp .qiehuan ul #dianying {
  border-bottom: 3px solid #f36523;
  color: #f36523;
}
.GW_warp .pingyu {
  width: 100%;
  height: 230px;
  position: relative;
  border-bottom: 1px dotted #366;
}
.GW_warp .pingyu p {
  padding: 10px;
}
.GW_warp .pingyu .touxiang {
  float: left;
  margin-left: 15px;
}
.GW_warp .pingyu .touxiang img {
  height: 150px;
  width: auto;
}
.GW_warp .pingyu .wengzi {
  float: left;
  width: auto;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
}
.GW_warp .pingyu .wengzi strong {
  position: absolute;
  right: 20px;
}
.GW_warp .xuanze {
  width: 100%;
  height: 30px;
  position: relative;
  border-bottom: 1px solid #737373;
  display: none;
}
.GW_warp .xuanze ul {
  width: 100%;
  height: auto;
  margin-left: 0;
  list-style: none;
}
.GW_warp .xuanze ul li {
  width: 50%;
  height: 30px;
  float: left;
  text-align: center;
}
.GW_warp .xuanze ul li span:hover {
  color: #f36523;
}
.GW_warp .jiaonan {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
.GW_warp .jiaonan #myTab {
  width: 40%;
  background-color: whitesmoke;
  height: 400px;
}
.GW_warp .jiaonan #myTab1 {
  width: 40%;
  background-color: whitesmoke;
  height: 400px;
}
.GW_warp .jiaonan .nav-tabs {
  border: none;
}
.GW_warp .jiaonan #myTabContent {
  width: 60%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-base-color: #666666;
}
.GW_warp .jiaonan #myTabContent ul {
  width: 100%;
  height: 400px;
  padding: 10px;
}
.GW_warp .jiaonan #myTabContent ul li {
  padding: 10px;
  max-height: 200px;
  border-bottom: 1px solid #d5d5d5;
}
.GW_warp .jiaonan #myTabContent1 {
  width: 60%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-base-color: #666666;
}
.GW_warp .jiaonan #myTabContent1 ul {
  width: 100%;
  height: 400px;
  padding: 10px;
}
.GW_warp .jiaonan #myTabContent1 ul li {
  padding: 10px;
  max-height: 200px;
  border-bottom: 1px solid #d5d5d5;
}
.GW_warp .nav-tabs > li.active > a,
.GW_warp .nav-tabs > li.active > a:focus,
.GW_warp .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  padding-right: 0;
  margin-right: 0 ;
  border-radius: 0;
  background-color: #fff;
  border: 4px solid #ffffff;
  border-left: 3px solid #f36523;
}
.GW_warp .nav-tabs > li > a:hover {
  border-color: white;
}
.GW_warp .zuidi {
  position: relative;
  width: 100%;
  height: 20px;
}
.GW_warp .zuidi .zuidi1 {
  width: auto;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #999999;
}
.GW_warp .bottom {
  margin-top: 180px;
}
.GW_warp .line {
  margin-top: 10px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.46);
  height: 1px;
  opacity: 0.3;
  margin-left: 2.5%;
}
#yingchang2 {
  display: none;
  position: relative;
  z-index: 1000;
}
#yingchang3 {
  display: none;
  position: relative;
  z-index: 1010;
}
#yingchang1 {
  display: none;
}
.dibu {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1111;
  display: none;
}
